### stack

In [1]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [2]:
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [3]:
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [4]:
c = a.pop()  # 20 출력

In [5]:
a

[1, 2, 3, 4, 5, 10]

In [6]:
c

20

In [7]:
d = a.pop()  # 10 출력
a

[1, 2, 3, 4, 5]

In [8]:
d

10

In [9]:
word = input("Input a word : ")
word_list = list(word)
# print(word_list)
for _ in range(len(word_list)):
    print(word_list.pop())
    print(word_list)

Input a word : naver
r
['n', 'a', 'v', 'e']
e
['n', 'a', 'v']
v
['n', 'a']
a
['n']
n
[]

### queue

In [10]:
a = [1, 2, 3, 4, 5]
a.append(10)
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [11]:
first = a.pop(0)  # 1 출력
a

[2, 3, 4, 5, 10, 20]

In [12]:
first

1

In [13]:
a.pop(0)  # 1 출력
a.pop(0)  # 2 출력

3

In [14]:
a

[4, 5, 10, 20]

In [16]:
t = (1, 2, 3)
type(t)

tuple

In [17]:
t + t

(1, 2, 3, 1, 2, 3)

In [19]:
t * 2

(1, 2, 3, 1, 2, 3)

In [20]:
t

(1, 2, 3)

In [21]:
len(t)  # 3

3

In [22]:
t[1] = 5  # Error 발생

TypeError: 'tuple' object does not support item assignment

In [24]:
t = 1  # 일반정수로 인식
type(t)

int

In [25]:
t = (1,)  # 값이 하나인 Tuple은 반드시 "," 를 붙여야 함
type(t)

tuple

In [ ]:
### set

In [27]:
s = set([1, 2, 3, 1, 2, 3])  #  set 함수를 사용 1,2,3을 집합 객체 생성 , a = {1,2,3,4,5} 도 가능
s

{1, 2, 3}

In [28]:
type(s)

set

In [29]:
a = {1, 2, 3, 4, 5}
type(a)

set

In [32]:
s = {2, 3}
s

{2, 3}

In [33]:
s.add(1)  #  한 원소 1만 추가,  추가, 중복불허로 추가 되지 않음
s

{1, 2, 3}

In [34]:
s.remove(1)  #  1 삭제
s

{2, 3}

In [35]:
s.update([1, 4, 5, 6, 7])  #  [1,4,5,6,7] 추가
s

{1, 2, 3, 4, 5, 6, 7}

In [36]:
s.discard(3)  #  3 삭제
s

{1, 2, 4, 5, 6, 7}

In [38]:
s.clear()  # 모든 원소 삭제

In [39]:
s

set()

In [40]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])
type(s1), type(s2)

(set, set)

In [41]:
s1.union(s2)  #  s1 과 s2의 합집합

{1, 2, 3, 4, 5, 6, 7}

In [42]:
s1 | s2  # set([1, 2, 3, 4, 5, 6, 7])

{1, 2, 3, 4, 5, 6, 7}

In [43]:
s1.intersection(s2)  #  s1 과 s2의 교집합

{3, 4, 5}

In [44]:
s1 & s2  # set([3, 4, 5])

{3, 4, 5}

In [45]:
s1.difference(s2)  # s1 과 s2의 차집합

{1, 2}

In [46]:
s1 - s2  # set([1, 2])

{1, 2}

In [ ]:
### dict

In [47]:
student_info = {20140012: "Sungchul", 20140059: "Jiyong", 20140058: "JaeHong"}

student_info[20140012]
student_info[20140012] = "Janhyeok"
student_info[20140012]
student_info[20140039] = "wonchul"
student_info

{20140012: 'Janhyeok',
 20140059: 'Jiyong',
 20140058: 'JaeHong',
 20140039: 'wonchul'}

In [49]:
country_code = {}  # Dict 생성, country_code = dict() 도 가능
country_code = {"America": 1, "Korea": 82, "China": 86, "Japan": 81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [52]:
for dict_items in country_code.items():  # Dict 데이터 출력
    print(type(dict_items))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [53]:
country_code.keys()  # Dict 키 값만 출력

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [54]:
country_code["German"] = 49  # Dict 추가
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}

In [57]:
country_code["German"] = 55  # Dict 추가
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 55}

In [58]:
country_code.values()  # Dict Value만 출력

dict_values([1, 82, 86, 81, 55])

In [59]:
for k, v in country_code.items():
    print("Key : ", k)
    print("Value : ", v)

Key :  America
Value :  1
Key :  Korea
Value :  82
Key :  China
Value :  86
Key :  Japan
Value :  81
Key :  German
Value :  55

In [60]:
"Korea" in country_code.keys()  # Key값에 "Korea"가 있는지 확인

True

In [61]:
82 in country_code.values()  # Value값에 82가 있는지 확인

True

In [ ]:
#