In [1]:
from collections import namedtuple

# Basic example
Point = namedtuple("Point", ["x", "y"])

In [2]:
Point

__main__.Point

In [4]:
p = Point(x=11, y=22)
p[0], p[1]

(11, 22)

In [5]:
p

Point(x=11, y=22)

In [ ]:
x, y = p
print(x, y)

In [6]:
print(p.x + p.y)

33

In [7]:
print(Point(x=11, y=22))

Point(x=11, y=22)

In [8]:
from collections import namedtuple
import csv

f = open("users.csv", "r")
next(f)
reader = csv.reader(f)
student_list = []
for row in reader:
    student_list.append(row)
print(student_list)

[['1555551', '', 'lrice', '', 'Lonnie', 'Rice', 'Lonnie Rice', 'Rice, Lonnie', 'Lonnie Rice', 'lrice@institution-name.edu', 'active'], ['1555552', '', 'jthompson', '', 'Jan', 'Thompson', 'Jan Thompson', 'Thompson, Jan', 'Jan Thompson', 'jthompson@institution-name.edu', 'active'], ['1555553', '', 'rreeves', '', 'Roger', 'Reeves', 'Roger Reeves', 'Reeves, Roger', 'Roger Reeves', 'rreeves@institution-name.edu', 'active'], ['1555554', '', 'wgriffin', '', 'Warren', 'Griffin', 'Warren Griffin', 'Griffin, Warren', 'Warren Griffin', 'wgriffin@institution-name.edu', 'active'], ['1555555', '', 'tsanders', '', 'Tammy', 'Sanders', 'Tammy Sanders', 'Sanders, Tammy', 'Tammy Sanders', 'tsanders@institution-name.edu', 'active'], ['1555556', '', 'cprice', '', 'Carrie', 'Price', 'Carrie Price', 'Price, Carrie', 'Carrie Price', 'cprice@institution-name.edu', 'active'], ['1555557', '', 'abowers', '', 'Alicia', 'Bowers', 'Alicia Bowers', 'Bowers, Alicia', 'Alicia Bowers', 'abowers@institution-name.edu', 'active'], ['1555558', '', 'eramsey', '', 'Essie', 'Ramsey', 'Essie Ramsey', 'Ramsey, Essie', 'Essie Ramsey', 'eramsey@institution-name.edu', 'active'], ['1555559', '', 'lwillis', '', 'Lila', 'Willis', 'Lila Willis', 'Willis, Lila', 'Lila Willis', 'lwillis@institution-name.edu', 'active'], ['1555560', '', 'csoto', '', 'Corey', 'Soto', 'Corey Soto', 'Soto, Corey', 'Corey Soto', 'csoto@institution-name.edu', 'active']]

In [9]:
columns = [
    "user_id",
    "integration_id",
    "login_id",
    "password",
    "first_name",
    "last_name",
    "full_name",
    "sortable_name",
    "short_name",
    "email",
    "status",
]
Student = namedtuple("Student", columns)
Student

__main__.Student

In [11]:
student_namedtupe_list = []
for row in student_list:
    print(row)
    student = Student(*row)
    print(student)
#     student_namedtupe_list.append(student)
# print(student_namedtupe_list[0])
# print(student_namedtupe_list[0].full_name)

# student

['1555551', '', 'lrice', '', 'Lonnie', 'Rice', 'Lonnie Rice', 'Rice, Lonnie', 'Lonnie Rice', 'lrice@institution-name.edu', 'active']
Student(user_id='1555551', integration_id='', login_id='lrice', password='', first_name='Lonnie', last_name='Rice', full_name='Lonnie Rice', sortable_name='Rice, Lonnie', short_name='Lonnie Rice', email='lrice@institution-name.edu', status='active')
['1555552', '', 'jthompson', '', 'Jan', 'Thompson', 'Jan Thompson', 'Thompson, Jan', 'Jan Thompson', 'jthompson@institution-name.edu', 'active']
Student(user_id='1555552', integration_id='', login_id='jthompson', password='', first_name='Jan', last_name='Thompson', full_name='Jan Thompson', sortable_name='Thompson, Jan', short_name='Jan Thompson', email='jthompson@institution-name.edu', status='active')
['1555553', '', 'rreeves', '', 'Roger', 'Reeves', 'Roger Reeves', 'Reeves, Roger', 'Roger Reeves', 'rreeves@institution-name.edu', 'active']
Student(user_id='1555553', integration_id='', login_id='rreeves', password='', first_name='Roger', last_name='Reeves', full_name='Roger Reeves', sortable_name='Reeves, Roger', short_name='Roger Reeves', email='rreeves@institution-name.edu', status='active')
['1555554', '', 'wgriffin', '', 'Warren', 'Griffin', 'Warren Griffin', 'Griffin, Warren', 'Warren Griffin', 'wgriffin@institution-name.edu', 'active']
Student(user_id='1555554', integration_id='', login_id='wgriffin', password='', first_name='Warren', last_name='Griffin', full_name='Warren Griffin', sortable_name='Griffin, Warren', short_name='Warren Griffin', email='wgriffin@institution-name.edu', status='active')
['1555555', '', 'tsanders', '', 'Tammy', 'Sanders', 'Tammy Sanders', 'Sanders, Tammy', 'Tammy Sanders', 'tsanders@institution-name.edu', 'active']
Student(user_id='1555555', integration_id='', login_id='tsanders', password='', first_name='Tammy', last_name='Sanders', full_name='Tammy Sanders', sortable_name='Sanders, Tammy', short_name='Tammy Sanders', email='tsanders@institution-name.edu', status='active')
['1555556', '', 'cprice', '', 'Carrie', 'Price', 'Carrie Price', 'Price, Carrie', 'Carrie Price', 'cprice@institution-name.edu', 'active']
Student(user_id='1555556', integration_id='', login_id='cprice', password='', first_name='Carrie', last_name='Price', full_name='Carrie Price', sortable_name='Price, Carrie', short_name='Carrie Price', email='cprice@institution-name.edu', status='active')
['1555557', '', 'abowers', '', 'Alicia', 'Bowers', 'Alicia Bowers', 'Bowers, Alicia', 'Alicia Bowers', 'abowers@institution-name.edu', 'active']
Student(user_id='1555557', integration_id='', login_id='abowers', password='', first_name='Alicia', last_name='Bowers', full_name='Alicia Bowers', sortable_name='Bowers, Alicia', short_name='Alicia Bowers', email='abowers@institution-name.edu', status='active')
['1555558', '', 'eramsey', '', 'Essie', 'Ramsey', 'Essie Ramsey', 'Ramsey, Essie', 'Essie Ramsey', 'eramsey@institution-name.edu', 'active']
Student(user_id='1555558', integration_id='', login_id='eramsey', password='', first_name='Essie', last_name='Ramsey', full_name='Essie Ramsey', sortable_name='Ramsey, Essie', short_name='Essie Ramsey', email='eramsey@institution-name.edu', status='active')
['1555559', '', 'lwillis', '', 'Lila', 'Willis', 'Lila Willis', 'Willis, Lila', 'Lila Willis', 'lwillis@institution-name.edu', 'active']
Student(user_id='1555559', integration_id='', login_id='lwillis', password='', first_name='Lila', last_name='Willis', full_name='Lila Willis', sortable_name='Willis, Lila', short_name='Lila Willis', email='lwillis@institution-name.edu', status='active')
['1555560', '', 'csoto', '', 'Corey', 'Soto', 'Corey Soto', 'Soto, Corey', 'Corey Soto', 'csoto@institution-name.edu', 'active']
Student(user_id='1555560', integration_id='', login_id='csoto', password='', first_name='Corey', last_name='Soto', full_name='Corey Soto', sortable_name='Soto, Corey', short_name='Corey Soto', email='csoto@institution-name.edu', status='active')

In [ ]:
]