## Lambda

In [1]:
def f(x, y):
    return x + y


f(1, 4)

5

In [2]:
f = lambda x, y: x + y
f(10, 50)

60

In [3]:
(lambda x, y: x + y)(10, 50)

60

In [4]:
up_low = lambda x: "-".join(x.split())

In [5]:
up_low("My Happy")

'My-Happy'

## Map

In [6]:
def f(x):
    return x + 5


ex = [1, 2, 3, 4, 5]

list(map(f, ex))

[6, 7, 8, 9, 10]

In [7]:
ex = [1, 2, 3, 4, 5]
f = lambda x: x ** 2

list(map(f, ex))

[1, 4, 9, 16, 25]

In [8]:
f = lambda x, y: x + y
list(map(f, ex, ex))

[2, 4, 6, 8, 10]

In [9]:
ex = [1, 2, 3, 4, 5]
f = lambda x: x ** 2

result = map(f, ex)
list(result)

[1, 4, 9, 16, 25]

In [10]:
[f(value) for value in ex]

[1, 4, 9, 16, 25]

In [11]:
f = lambda x: x ** 2

[f(value) for value in ex]

[1, 4, 9, 16, 25]

In [12]:
list(map(lambda x: x ** 2 if x % 2 == 0 else x, ex))

[1, 4, 3, 16, 5]

In [13]:
[value ** 2 if value % 2 == 0 else value for value in ex]

[1, 4, 3, 16, 5]

## reduce

In [14]:
from functools import reduce

reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])

15